<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <link rel="stylesheet" href={{stylesheet}}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/register" method="post" enctype=multipart/form-data>
            <ul style="list-style-type:none;">
                <li>
                    <label for="fname" >First Name:</label>
                    <input type="text" name="firstname" id="fname" autocomplete="off" required autofocus>
                </li>
                <li>
                    <label for="lname">Last Name: </label>
                    <input type="text" name="lastname" id="lname" autocomplete="off" required>
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </li>
                <li>
                    <label for="confirm-password">Confirm password: </label>
                    <input type="password" name="confirm-password" id="confirm-password" autocomplete="off" required>
                </li>
                <li>
                    <label for="birthdate">Birth Date: </label>
                    <input type="date" name="birthdate" id="birthdate" min="1900-01-01" autocomplete="off" required>
                </li>
                <li>
                    <label for="login">Login: </label>
                    <input type="text" name="login" id="login" autocomplete="off" required>
                </li>
                <li>
                    <label for="pesel">Pesel: </label>
                    <input type="text" name="pesel" id="pesel" autocomplete="off" required>
                </li>
                <li>
                    <fieldset>
                        <legend>Sex</legend>
                        <label for="sex-woman">Female </label>
                        <input type="radio" name="sex" id="sex-woman" value="F" autocomplete="off" required>
                        <label for="sex-man">Male </label>
                        <input type="radio" name="sex" id="sex-man" value="M" autocomplete="off" required>
                    </fieldset>
                </li>
                <li>
                    <label for="photo">Profile picture: </label>
                    <input type="file" name="photo" id="photo" autocomplete="off" required>
                </li>
                <li><input type="submit" value="Submit" id="submit"></li>
            </ul>
        </form>
        <script src="{{ url_for('static', filename='register.js') }}"></script>
    </body>
</html>